Pillow
sorl-thumbnail
markdown
postmarkup
pytils
bbcode
django-pure-pagination
requests
lxml
django-guardian
celery
mock
python-magic
bleach
beautifulsoup4
exam
coverage
six
pytest==3.6.3
pytest-django==3.3.2
psycopg2

-e git://github.com/ulule/django-autoslug.git@16f193d2ca3dd2c0f2e5cfe27121a5bc98309cc0#egg=django-autoslug



