
{% load i18n pybb_tags %}
<form class="post-form" action="
    {% if forum %}
        {% url 'pybb:topic_create' forum.pk %}
    {% elif topic %}
        {% url 'pybb:post_create' topic.pk %}
    {% elif not topic and not forum %}
        {% if object %}
            {% url 'pybb:post_update' pk=object.pk %}
        {% else %}
            {% url 'pybb:topic_create' %}
        {% endif %}
    {% endif %}
    " method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        {{ form.non_field_errors }}

        {{ form.hash }}

        {% if form.name %} {{ form.name.errors }} {{ form.name.label_tag }} {{ form.name }} {% endif %}
        {% if form.login %} {{ form.login.errors }} {{ form.login.label_tag }} {{ form.login }}  {% endif %}
        {% if form.body %} {{ form.body.errors }} {{ form.body.label_tag }} {{ form.body }}  {% endif %}

        {% if form.poll_type %}
            {% include "pybb/poll/form.html" %}
        {% endif %}

        <p class="submit">{% include "pybb/_button_submit.html" %}</p>
    </fieldset>
</form>
<div id="attachments-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="attachments-modal-label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="attachments-modal-label">{% trans "Attachments" %}</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
        <button class="btn btn-success">{% trans "Save changes" %}</button>
    </div>
</div>
