
{% load i18n pybb_tags thumbnail guardian_tags %}

<a name="post-{{ post.id }}"></a> {# may be remove this string? #}
<table class="table table-bordered post{% if post.on_moderation %} on-moderation{% endif %}{% if post.deleted %}deleted{% endif %}" id="post-{{ post.id }}">
    <thead class="post-header">
    <tr>
    <th colspan="2">

        {% if post.pk %}
            {% if page %}
                <a class="permalink" href="{% url 'pybb:topic_detail' forum_slug=post.topic.forum.slug pk=post.topic.pk slug=post.topic.slug page=page.number %}#post{{ post.pk }}">#</a>
            {% else %}
                <a class="permalink" href="{{ post|pybb_post_anchor_url:request.user }}">#</a>
            {% endif %}
        {% endif %}


        <span class="updated">{% pybb_time post.created %}</span>
    </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="post-info">
            {% include "pybb/avatar.html" %}
            <div class="post-author"><a href="{{ post.user.get_absolute_url }}">{{ post.user.username }}</a></div>

            {% if user.is_superuser or user.is_staff or "can_see_user_ip" in forum_perms %}
                <div class="post-extra-info">{{ post.user_ip }}</div>
            {% endif %}

            {% if post.pk %}
                <div class="post-controls">
                    {% if user.is_moderator and "can_change_post" in forum_perms or post|pybb_posted_by:user %}
                        <a href="{% url 'pybb:post_update' pk=post.id %}">{% trans "Edit" %}</a>
                    {% endif %}

                    {% if user.is_moderator %}
                        {% if "can_delete_post" in forum_perms %}
                            <a href="{% url 'pybb:post_delete' post.id %}">{% trans "Delete" %}</a>
                        {% endif %}

                        {% if post.on_moderation %}
                            <a href="{% url 'pybb:post_moderate' pk=post.id %}">{% trans "Approve post" %}</a>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}

        </td>
        <td class="post-content">
            {{ post.body_html|safe }}

            {% if post.updated %}
                <div class="updated-message">{% trans "Edited" %} {% pybb_time post.updated %}</div>
            {% endif %}

            {% if post.pk %}
                <div class="post-related">
                    <a href="{% url 'pybb:post_create' topic.id %}?quote_id={{ post.id }}">{% trans "quote" %}</a>

                    <div class='attachments'>
                        {% for attachment in post.attachments.all %}
                            <a href="{{ attachment.file.url }}"><img src="{{ STATIC_URL }}pybb/img/attachment.png"> {{ attachment.size_display }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>
